# Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# Kivy build artifacts
build/
*.apk
*.dmg
*.exe

# log files
*.log

# Sensitive information
*.env
config.py

# Other temporary files
*.swp
*.bak

# Ignore all text files in the records directory
records/*.txt